@import('dashboard.styl')

*
	font-family 'PT Sans', sans-serif

html, body
	padding 0
	margin 0
	background-color #FBFBFB

html, body, #react_container, div[data-reactroot], .full-page
	height 100%
	overflow auto

.hellip
	overflow hidden
	white-space nowrap
	text-overflow ellipsis

.flex
	display flex
	align-items center